.menu_bar {
  background-color: #FA6C6C;
  margin: 5px;
  padding: 5px;
}

.card {
  color: #000;
  transition: box-shadow 180ms cubic-bezier(0, 0, 0.2, 1);
  padding: 6px;
  border-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.15), inset 0 1px rgba(255, 255, 255, 0.4);
  background-color: #fcfcfc;
	margin: 10px;
}
